
@{
    ViewData["Title"] = "Html export";
}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Html export</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Html export</h1>
            <p class="my-2">
                These samples the html export capabilities of EPPlus
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li><a href="/HtmlExport/ExportTable1">Export table with themes and built in table style</a></li>
            <li><a href="/HtmlExport/ExportTable2">Export table with built in table style, connect to <a href="https://developers.google.com/chart" target="_blank">Google Charts</a></a></li>
            <li><a href="/HtmlExport/ExportTable3">Export table with 10 000 currency rates, connect to google line chart</a></li>
        </ul>
    </div>
</div>